<footer class="bg-success">
  <div class="container">
    <nav>
      <p class="text-center">
        <small>
          You got to the end of this page? Great! Maybe you'd like to read some more?
        </small>
      </p>
      <div  class="row">
        <div class="col-sm-6">

          {% if post.previous %}

            <div class="panel panel-default">
              <div class="panel-heading">
                Previous: <a href="{{ post.previous.url }}">
                  {{ post.previous.title}}
                </a>
              </div>
              <div class="panel-body">
                {{post.previous.excerpt}}
                <a href="{{ post.previous.url }}">
                  <span aria-hidden="true">&rarr;</span>
                </a>
              </div>
            </div>
          {% else %}
            <div class="panel panel-default">
              <div class="panel-heading">
                The last page
              </div>
              <div class="panel-body">
                It appears this was the last page on the site! Wow.
                Well I guess I could link the <a href="404.html">404 page</a> here.
              </div>
            </div>
          {% endif %}

        </div>

        <div class="col-sm-6">

          {% if post.next %}

            <div class="panel panel-default">
              <div class="panel-heading">
                Next: <a href="{{ post.next.url }}">
                  {{ post.next.title}}
                </a>
              </div>
              <div class="panel-body">
                {{post.next.excerpt}}
                <a href="{{ post.next.url }}">
                  <span aria-hidden="true">&rarr;</span>
                </a>
              </div>
            </div>

          {% else %}
            <div class="panel panel-default">
              <div class="panel-heading">
                The first page
              </div>
              <div class="panel-body">
                Actually, this is the most recent article. The next article is on Wednesday!
                Why not subscribe to the <a href="{{ site.feedburner_url }}">RSS feed</a> or follow me on <a href="{{ site.twitter_url }}">Twitter</a>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </nav>
    <hr />
    <div class="row">
      <div id="copyright" class="col-sm-4 text-left">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <img class="logo" alt="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
      </div>
      <div id="source" class="col-sm-4 text-center">
        <a rel="source" href="https://github.com/bertg/thingsinabucket.com">
          <img class="logo" alt="" style="border-width:0" src="/assets/github_logo.png">
          &nbsp;
          Fork me on GitHub
        </a>
      </div>
      <div id="follow" class="col-sm-4 text-right">
        <a rel="source" href="https://twitter.com/thingsinabucket">
          <img class="logo" alt="" style="border-width:0" src="/assets/twitter_logo.png">
          &nbsp;
          Follow me on Twitter
        </a>
      </div>
    </div>
  </div>
</footer>
