<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script>
  moment.locale('en', {
      calendar : {
          lastDay : '[Yesterday]',
          sameDay : '[Today]',
      }
  });

  var humanTimeComponent = (function () {
    'use strict';

    function render () {
      $('time:not([title])').each(function (i, element) {
        var el = $(element),
            time = moment(el.attr('datetime')),
            now = moment(new Date);

        if ( now.diff(time, 'days') < 2 ) {
          el.html(time.calendar());
        } else if ( now.diff(time, 'days') > 7 ) {
          el.html(time.format('LL'));
        } else {
          el.html(time.fromNow())
            .attr('title', time.format('LLL'));
        }
      });
    }

    return {
      render: render
    };

  }());

  $(function () {
    humanTimeComponent.render();
  });

</script>
{% include tracker.html %}
