{% assign post = page %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ post.title }} - bertg.be</title>
    {% include style_and_script_head.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="container container-post">
      <h1 class="page-header">
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small>
          <time datetime="{{ post.date | date_to_xmlschema }}"></time>
        </small>
      </h1>
      {{ content }}
    </div>

    {% include post_comments.html %}
    {% include post_footer.html %}

    {% include style_and_script_bodyend.html %}
  </body>
</html>
